/* Default styles */

#textblock {
    background-color: #210002;
    height: 100vh;
  }
  
  #textblock-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 70px;
  }
  
  #textblock-title {
    color: #ffaf1b;
    font-size: 35px;
    font-weight: 600;
    font-family: "Helvetica Neue";
  }
  
  #textblock-content {
    color: #ffaf1b;
    font-size: 20px;
  }
  
  #textblock-footer {
    color: #ffaf1b;
    font-size: 15px;
    font-weight: 400;
    position: fixed;
    width: 100%;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #textblock-devsense {
    text-decoration: none;
    color: #ffaf1b;
    font-size: 15px;
    font-weight: 600;
  }
  
  .animation,
  .animation_layer {
    height: 1000px;
  }
  
  .animation {
    display: block;
    position: relative;
    z-index: 10;
  }
  
  .animation_layer {
    background-position: bottom center;
    background-size: auto 1038px;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
  }
  
  .animation_layer.parallax {
    position: fixed;
  }
  
  #artback {
    background-image: url("../../images/background.png");
    position: relative;
  }

  #artback::after {
    content: "Travel Jinn";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 65px;
    font-weight: bold;
    font-family: "Helvetica Neue";
    z-index: 1;
  }
  
  #artback::before {
    content: "Transforming Travel Dreams into Reality";
    position: absolute;
    top: 19%; /* Adjust the positioning of the second line of text */
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 18px; /* Adjust the font size as desired */
    font-weight: 50%;
    font-family: "Helvetica Neue";
    z-index: 1;
  }
  
  /* Responsive Styles */
@media (max-width: 768px) {
    #artback::after {
        top: 10%;
        font-size: 40px;
        left: 20%;
    }
    
    #artback::before {
        top: 15%;
        font-size: 20px;
        left: 20%;
    }
  }
  
  @media (max-width: 480px) {
    #artback::after {
        top: 10%;
      font-size: 40px;
      left: 25%;
    }
    
    #artback::before {
      top: 15%;
      font-size: 20px;
      left: 25%;
    }
  }

  
  
  

  #mountain {
    background-image: url("../../images/mountains.png");
  }
  
  
  
  #jungle1 {
    background-image: url("../../images/jungle1.png");
  }
  
  #jungle2 {
    background-image: url("../../images/jungle2.png");
  }
  
  #jungle3 {
    background-image: url("../../images/jungle3.png");
  }
  
  #jungle4 {
    background-image: url("../../images/jungle4.png");
  }
  
  #jungle5 {
    background-image: url("../../images/jungle5.png");
  }
  
  #manonmountain {
    background-image: url("../../images/man_on_mountain.png");
  }
  
  /* Responsive styles */
  
  @media (max-width: 768px) {
    /* Styles for screens up to 768px width */
  
    #textblock-container {
      width: 90%;
    }
  
    #textblock-title {
      font-size: 28px;
    }
  
    #textblock-content {
      font-size: 18px;
    }
  
    #textblock-footer {
      font-size: 13px;
      margin-bottom: 10px;
    }
  
    #textblock-devsense {
      font-size: 13px;
    }
  
    .animation,
    .animation_layer {
      height: 1000px;
      width : 1200px;
    }
  }
  
  @media (max-width: 480px) {
    /* Styles for screens up to 480px width */
  
    #textblock-container {
      width: 95%;
    }
  
    #textblock-title {
      font-size: 24px;
    }
  
    #textblock-content {
      font-size: 16px;
    }
  
    #textblock-footer {
      font-size: 11px;
      margin-bottom: 5px;
    }
  
    #textblock-devsense {
      font-size: 11px;
    }
  
    .animation,
    .animation_layer {
      height: 1000px;
      width : 900px;
    }
  }
  